.info {
  padding-left: 15px;
}
.image {
  display: flex;
  object-fit: contain;
  float: left;
  border-radius: 7px;
  margin-right: 10px;
}
.content {
  display: flex;
  object-fit: contain;
  text-align: left;
  vertical-align: middle;
  margin: 10px;
}
.header {
  font-size: 35px;
  font-weight: bold;
  padding: 5px;
}

.nutritionalInfo {
  display: flex;
  padding-left: 3px;
  margin-right: 100px;
}

.ingredientsInfo {
  height: 100px;
  margin: 10px;
}

.ingredients {
  margin-left: 15px;
}

.summaryContent {
  text-align: justify;
  pointer-events: none;
  margin: 7px;
  padding-bottom: 10px;
}

.summaryContent a {
  text-decoration: none;
  color: #000;
  font-weight: normal;
}

.instructions {
  text-align: justify;
  padding-bottom: 20px;
}

.infoRow {
  display: flex;
  color: #000;
  align-self: center;
  justify-content: center;
  margin-bottom: 50px;
}
